/* @colorfood- = #ac9200 */

.full-body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.searches {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  /* width: 460px; */
  /* height: 164px; */
}

.input-box-searches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 70px;

  position: relative;
  /* width: 1168px;
  height: 164px;
  left: 280px;
  top: 306px; */
}

h2 {
  color: #ac9200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  /* margin: .5em; */
}

.header {
  /* padding-right: 100px; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

#main-heading {
  color: #ac9200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
}

button {
  border-radius: 50px;
  border: 1px solid black;
  /* color: #0F9D58; */
  /* fill: #0F9D58; */
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  padding: 12px;
  width: 300px;
}

.input-box {
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  width: 100%;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}

#answer-box {
  width: 700px;
  margin-top: 50px;
}

.episode-title {
  font-family: "Kanit", sans-serif;
}

.episode-desc {
  font-family: "Montserrat", sans-serif;
}

/* w3 schools drop down */
/* Dropdown Button */
.dropbtn {
  background-color: #ac9200;
  color: white;
  /* padding: 16px; */
  width: 50px;
  height: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #ac9200;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  height: 20px;
  /* align-items: center; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 50px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
