<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="header">
        <img src="{{ url_for('static', filename='images/icon.png') }}" />
        <h1 id="main-heading">Find My Food</h1>
      </div>
      <div class="input-box-searches">
        <div class="searches">
          <h2>Food</h2>
          <div class="input-box" id="input-food" onclick="sendFocus()">
            <img src="{{ url_for('static', filename='images/mag.png') }}" />
            <input placeholder="Search for a food" id="filter-text-val" />
          </div>
        </div>
        <div class="searches">
          <h2>Location</h2>
          <div class="input-box">
            <img src="{{ url_for('static', filename='images/mag.png') }}" />
            <!-- <input placeholder="Search for a state" id="filter-text-val" onkeyup="filterText()"> -->
            <!-- w3schools drop down -->

            <div class="scroll-box" id="scroll-box">
              <form class="form-1 user">
                <!-- <label id="country-label" class="user-field" for="country">Search for a state</label>
                                    <input  onkeyup="filterText()"> -->
                <input
                  placeholder="Search for a state"
                  list="datalist"
                  id="country-input"
                  type="text"
                  onkeyup="statelist(this.value)"
                />
                <datalist class="user-field" id="datalist"></datalist>
                <!-- <button class="user-field" id="submit-country" type="submit" value="Submit">Submit
                                    </button> -->
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="button">
        <button type="button" onclick="searchRequest()">Search</button>
      </div>

      <div class="sortby">
        <p>Sort results by:</p>
        <button id="rank" type="button" onclick="sortbyrank()">
          Restaurant ranking
        </button>
        <button id="sim" type="button" onclick="sortbysim()">
          Similarity score
        </button>
      </div>
    </div>
    <div id="answer-box"></div>
  </div>

  <script>
    let results = [];

    function comparerank(a, b) {
      a = parseFloat(a.restaurant.score);
      a = isNaN(a) ? 0 : a;
      b = parseFloat(b.restaurant.score);
      b = isNaN(b) ? 0 : b;
      return b - a;
    }

    function comparesim(a, b) {
      a = parseFloat(a.cossimSVD);
      a = isNaN(a) ? 0 : a;
      b = parseFloat(b.cossimSVD);
      b = isNaN(b) ? 0 : b;
      return b - a;
    }

    function sortbyrank() {
      document.getElementById("rank").style.color = "green";
      document.getElementById("sim").style.color = "black";
      const list = document.getElementById("answer-box");

      while (list.hasChildNodes()) {
        list.removeChild(list.firstChild);
      }
      results.sort(comparerank);

      addCards(results);
    }

    function sortbysim() {
      document.getElementById("rank").style.color = "black";
      document.getElementById("sim").style.color = "green";
      const list = document.getElementById("answer-box");

      while (list.hasChildNodes()) {
        list.removeChild(list.firstChild);
      }
      results.sort(comparesim);

      addCards(results);
    }

    function addCards(list) {
      list.forEach((item) => {
        // name = item.name
        let tempDiv = document.createElement("div");
        tempDiv.innerHTML = answerBoxTemplate(
          item.name,
          item.restaurant.name,
          item.restaurant.full_address,
          item.restaurant.score,
          item.restaurant.ratings,
          item.restaurant.price_range,
          item.description,
          item.price,
          item.restaurant.category,
          item.cossimSVD,
          item.svd_concept
        );
        document.getElementById("answer-box").appendChild(tempDiv);
      });
    }

    function searchRequest() {
      document.getElementById("rank").style.color = "black";
      document.getElementById("sim").style.color = "green";
      document.getElementById("answer-box").innerHTML = "";
      craving = document.getElementById("filter-text-val").value;
      console.log(craving);
      state = document.getElementById("country-input").value;
      console.log(state);

      fetch(
        "/items?" +
          new URLSearchParams({ state: state, craving: craving }).toString()
      )
        .then((response) => response.json())
        .then((value) => {
          results = value.items;
          if (value.items.length === 0) {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = `<div class='answer'>
                <h3 class='episode-title'> No Items Found </h3>
            </div>`;
            document.getElementById("answer-box").appendChild(tempDiv);
          }
          addCards(value.items)
        });
    }

    function answerBoxTemplate(
      item_name,
      rest_name,
      address,
      score,
      rating,
      price,
      item_description,
      item_price,
      rest_categories,
      sim,
      concept
    ) {
      function setEmptyIfNone(txt) {
        return txt === undefined || txt.length === 0 || txt === "None"
          ? "-"
          : txt;
      }

      function commaSeparateCuisineTypes(txt) {
        let x = txt.split(" ");
        return x.filter(Boolean).join(", ");
      }

      function convertPriceToText(txt) {
        if (price === "$") return "Cheap ($)";
        else if (price === "$$") return "Medium ($$)";
        else if (price === "$$$") return "Pricey ($$$)";
        else return "Expensive ($$$$)";
      }

      return `<div class='answer'>
        <div class = "info-box-all"> 
        <div class = "information-box-top"> 
                <h3 class='episode-title'>${setEmptyIfNone(item_name)}</h3>
                <h4 class='episode-title'> <b>Item Description:</b> ${setEmptyIfNone(
                  item_description
                )}</h4>
                <h4 class='episode-title'> <b>Item Cost:</b> ${setEmptyIfNone(
                  item_price
                )}</h4>
                <p class='other-info'><b>Cossine Similarity Score (SVD Space):</b> ${setEmptyIfNone(
                  parseFloat(sim).toFixed(2)
                )}</p>
                <p class='other-info'><b>Most Relevant SVD Dimension:</b> ${setEmptyIfNone(
                  concept
                )}</p>
              </div>
                <div class = "information-box"> 
                <p class='episode-desc'><b>Restaurant:</b> ${setEmptyIfNone(
                  rest_name
                )}</p>
                <p class='episode-desc'><b>Restaurant Categories:</b> ${commaSeparateCuisineTypes(
                  setEmptyIfNone(rest_categories)
                )}</p>
                <p class='episode-desc'> <b>Address:</b> ${setEmptyIfNone(
                  address
                )}</p>
                <p class='other-info'><b>Average rating:</b> ${setEmptyIfNone(
                  score
                )} | <b>Number of ratings:</b> ${setEmptyIfNone(rating)}</p>
                <p class='other-info'><b>Restaurant Price Range:</b> ${convertPriceToText(
                  setEmptyIfNone(price)
                )}</p>
                </div>
              </div>
            </div>`;
    }

    function statelist(value) {
      document.getElementById("datalist").innerHTML = "";

      fetch("/location?" + new URLSearchParams({ location: value }).toString())
        .then((response) => response.json())
        .then((value) =>
          value.states.forEach((state) => {
            var node = document.createElement("option");
            var val = document.createTextNode(state);
            node.appendChild(val);
            document.getElementById("datalist").appendChild(node);
          })
        );
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus();
    }

    function filterText() {
      document.getElementById("answer-box").innerHTML = "";
      fetch(
        "/episodes?" +
          new URLSearchParams({
            title: document.getElementById("filter-text-val").value,
          }).toString()
      )
        .then((response) => response.json())
        .then((data) =>
          data.forEach((row) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr);
            document.getElementById("answer-box").appendChild(tempDiv);
          })
        );
    }
  </script>
</body>
